*{
    box-sizing: border-box;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

#nav-list li{
    display: inline-block;
}

.nav-link{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    padding: 1rem;
}

.nav-link:hover{
    background-color: lightgrey;
}

#about-me{
    width:50%;
    margin: 5rem auto 0 auto;
}

figure{
    margin: 2rem;
}

#profile-pic-div{
    position: relative;
}

figcaption{
    text-align: center;
}

#profile-img{
    height: auto;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
    min-width: 300px;
    max-width: 300px;
}

#about-text{
    margin: 2rem 2rem 2rem 1rem;
}

#about-text h2{
    font-size:2rem;
    margin-bottom: 1rem;
}

#about-text p{
    line-height: 1.5;
}

#projects{
    margin-top: 8rem;
}

#projects h2{
    text-align: center;
    font-size: 2rem;
}

#projects-div{
    width:60%;
    margin:2rem;
    padding-top: 5rem;
    display: flex;
    margin: auto;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.project-box{
    border: 1px solid black;
    width:40%;
    margin-bottom: 2rem;
    box-shadow: 5px -5px 5px black;
}

.project-box h3{
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.project-img{
    width: 100%;
    height: auto;
}

.project-image-div{
    position: relative;
}

.hidden{
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    margin:2em;
    text-align: center;
}

.hidden h4{
    padding-bottom:1em;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-top: 1px solid black;
    padding-top: 2rem;
}

#skills{
    margin-bottom: 5rem;
}

#skills h2{
    text-align: center;
    margin: 5rem;
    font-size: 2rem;
}

#skills-container{
    display: flex;
    width: 50%;
    margin: auto;
}

.skills-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

.skills-div p{
    text-align: left;
    align-self: center;
    font-size: 1.5rem;
}

.skill-icon{
    width: 100%;
    max-width: 3rem;
    height: auto;
    justify-self: flex-end;
}